@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

.App {
  font-family: Montserrat, 'Courier New', Courier, monospace;
  width: 80%;
  margin: auto;
  background-attachment: white;
}

.title {
  font-size: 36px;
  text-align: center;
  font-weight: 500;
}

.text {
  font-size: 14px;
}
img{
  margin: 10px;
}
